<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>

</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>birth:</td>
            <td><input type="date" th:field="*{birth}"/></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>number phone:</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>class_id:</td>
            <td><input type="text" th:field="*{classroom_id}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>